<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Moon Base</title>
    <link rel="shortcut icon" type="image/jpeg" href="/img/favicon1.jpg">
    <link rel="stylesheet" href="/css/index.css">
    <link href="https://fonts.googleapis.com/css?family=Quicksand&display=swap" rel="stylesheet">
<body>

<a class="userslist" href="/userslist">Users List</a>

    <time id="time">12:15:05 PM</time>
    <h1>
        <span id="greeting">Good Afternoon</span>
        <span id="name" contenteditable="true">Luis</span>
    </h1>
    <h2 id="question">What Is Your Focus For Today?</h2>
    <h2 id="focus" contenteditable="true">Make Cool Stuff</h2>




    <script src="/js/index.js"></script>
</body>
</html>