<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
  <title>Update User Credentials</title>
  <link rel="stylesheet" href="/css/updateusercss.css" />

</head>
<body>

<div class="outer-box">
  <h1>Update Your Login Credentials</h1>

  <div class="fx-box">


    <form class="form_a" th:action="@{/users/{userId}(userId=${user.userId})}" method="post" th:if="${user.userId != null}">

      <div>
        <input type="hidden" th:field="${user.userId}">
      </div>

      <div>
        <label>Username:  </label>
        <input type="text" th:field="${user.username}" />
      </div>

      <div class="dis-block">
        <label>Old Password : </label>
        <span th:text="${user.password}" class="th_field"></span>
      </div>
      <div>
        <label>Password: </label>
        <input  type="password" th:field="${user.password}" />

      </div>
      <div>
        <label>Full Name:  </label>
        <input type="text" th:field="${user.name}" />
      </div>


      <div th:each="account : ${user.accounts}" class="th_field">
        <span th:text="${account.accountName}" class="th_field acc"></span>

      </div>

      <input type="hidden" th:field="${user.accounts}" class="th_field"></input>


      <div>

        <input class="btn ok_button" type="submit" value="Update Credentials" />
      </div>

      <a class="btn-dark" th:href="@{/userinfo/{userId}(userId=${user.userId})}">Back</a>


    </form>



    <form th:action="@{/users/{userId}/update(userId=${user.userId})}" method="get" th:if="${user.userId != null}">
      <input class="btn ok_button" type="submit" value="Update Address" />
      <input type="hidden" th:field="${user.userId}" class="th_field"></input>
    </form>



    <form th:action="@{/users/{userId}/accounts(userId=${user.userId})}" method="post">
      <input type="submit" value="Create New Bank Account" />
    </form>



    <form th:action="@{/users/{userId}/delete(userId=${user.userId})}" method="post" th:if="${user.userId != null}">
      <button class="btn del_button" >Delete</button>
    </form>

  </div>




  <a href="/userslist">Users List</a>
  <h2> Check I/O </h2>


</div>



</body>
</html>